.itworks{
    height: 80% ;
    width: 100%;
    
}

.works{
    height: 130%;
    width: 100%;
}

.cardtitle{
    border: 2px solid #075559;
  border-radius: 12px;
  padding: 2%;
  width: 100%;
  padding-right: 5%;
}

.viewprod{
    
    background-color: #075559;
    border-radius: 1rem;
    margin-left: 7rem;
}

.viewprod:hover{
    background-color: rgba(117, 234, 231, 0.4);
    color: #075559;
}

.cardimage{
    padding: 5%;
}
