.title{
    text-align:center;
    padding-top: 2%;
}
h5{
    text-align: center;
    margin-top: 1.5%;
}
.timer{
    text-align: center;
    margin-left: 40%;
    margin-right: auto;
    
}
h3{
    font-size: 500%;
}
.dots{
    padding-block-start: 1%;
}
.cardview{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(7, 4, 0, 0.19);
  text-align: center;
  padding: 0.5%;
  border-radius: 15%;
  background-color: #75CDD2;
  color: #B62025;

}
.container{
    max-width: 100%;
}
.productcard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(7, 4, 0, 0.19);
    border-radius: 5%;
    margin-left: 2%;  
    margin-top: 5%;

}

.livebiddertitle{
    font-size: 250%;
    margin-top: auto;
    margin-bottom: auto;
}

.cardbiddertitle{
    margin-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    width: 98%;
    border-radius: 20px;
    background-color: #24989B;
    color: white;
}

.productCarousel{
    border-radius: 5%;
}
.timervalues{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}
.titles{
    margin-left: 3%;
    margin-top: 5%;
    margin-left:auto;
    margin-right:auto;
}
.productdetailshead{
    margin-left: 9%;
    margin-top: 5%;
}

.biddescription{
    margin-left: 3.5%;
    margin-top: 1%;
    margin-left:auto;
    margin-right:auto;
    font-size: 30px;
    background-color: #549C9E;
    color: white;
    padding: 1%;
    border-radius: 20%;
    width: max-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(7, 4, 0, 0.19);
}

.description{
    margin-left: 9%;
    margin-top: 1%;
}
