<!DOCTYPE html>
<html>
<body>

<h2>Signup Bidder!</h2>


<form method="POST" action="/person">
Name:<br>
<input type="text" name="name"> <br>
Age:<br>
<input type="text" name="age">
<br>
Nationality:<br>
<input type="text" name="nationality">
<br>

<input type="submit" value="Submit" > 

</form>



</body>
</html>