.ProductList{
  margin:2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Welcome_inp{
  border-radius: 5px;
  padding: 0.5rem;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.Welcome_inp:focus{
  border: 3px solid #555;

}