.copyrights{
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background-color: #075559;
}

.footer-logo{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}
.bottom-nav{
    margin-left: auto;
    margin-right: auto;
    }
    
.nav-option{
    color: whitesmoke;
}
.rights-footer{
    color: whitesmoke;
    
}